.logo {
  font-weight: bold;
  font-size: 3.5rem;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #1ED760;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #1db954;
} 